In [8]:
import pandas as pd

data = {
    "Nama": ["Radit", "Reva", "Depi", "Ridwan", "Nabilla", "Aufa", "Erina", "Fikri", "Dastanta", "Ressy"],
    "Matematika": [80, 75, 90, 65, 85, 70, 95, 60, 88, 77],
    "Fisika": [78, 82, 85, 70, 80, 75, 92, 68, 83, 79],
    "Kimia": [88, 74, 91, 69, 84, 72, 96, 63, 85, 81],
    "Biologi": [85, 79, 88, 73, 82, 76, 93, 70, 86, 80]
}

df = pd.DataFrame(data)

# Menghitung rata-rata nilai setiap siswa
df["Rata-rata"] = df[["Matematika", "Fisika", "Kimia", "Biologi"]].mean(axis=1)

# Mengurutkan berdasarkan nilai rata-rata (descending)
df_sorted = df.sort_values(by="Rata-rata", ascending=False)

# Menambahkan kolom peringkat
df_sorted["Peringkat"] = range(1, len(df_sorted) + 1)

# Menampilkan hasil akhir
print("Data Nilai Siswa dengan Rata-rata dan Peringkat:\n")
print(df_sorted)

Data Nilai Siswa dengan Rata-rata dan Peringkat:

       Nama  Matematika  Fisika  Kimia  Biologi  Rata-rata  Peringkat
6     Erina          95      92     96       93      94.00          1
2      Depi          90      85     91       88      88.50          2
8  Dastanta          88      83     85       86      85.50          3
0     Radit          80      78     88       85      82.75          4
4   Nabilla          85      80     84       82      82.75          5
9     Ressy          77      79     81       80      79.25          6
1      Reva          75      82     74       79      77.50          7
5      Aufa          70      75     72       76      73.25          8
3    Ridwan          65      70     69       73      69.25          9
7     Fikri          60      68     63       70      65.25         10

In [9]:
import pandas as pd
data = {
    "Nama": ["Radit", "Reva", "Depi", "Ridwan", "Nabilla", "Aufa", "Erina", "Fikri", "Dastanta", "Ressy"],
    "Matematika": [80, 75, 90, 65, 85, 70, 95, 60, 88, 77],
    "Fisika": [78, 82, 85, 70, 80, 75, 92, 68, 83, 79],
    "Kimia": [88, 74, 91, 69, 84, 72, 96, 63, 85, 81],
    "Biologi": [85, 79, 88, 73, 82, 76, 93, 70, 86, 80]
}
df = pd.DataFrame(data)
kolom_nama=df["Nama"]
baris_pertama=df.iloc[0]
statistik=df.describe()