In [172]:
import pandas as pd

df = pd.read_csv("datatni.csv")
print("=== Total Missig Values perkolom ===")
print(df.isnull().sum())

=== Total Missig Values perkolom ===
name        0
alamat      0
tinggi      0
kategori    0
dtype: int64

In [165]:
import pandas as pd
import numpy as np

df = pd.read_csv("datatni.csv")
print("============= Data Calon TNI =============")
print(df[["name", "alamat", "tinggi"]])

============= Data Calon TNI =============
    name                    alamat  tinggi
0   Andi        Jl. Merdeka No. 18     175
1   Budi        Jl. Sudirman No. 5     178
2   Cira        Jl. Thamrin No. 20     180
3   Devd  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
8  Indah         Jl. Senayan No. 9     178
9  Jilan        Jl. Kuningan No. 2     160

In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("datatni.csv")
print("=== Statistik Dasar Tinggi Badan ===")
print(df['tinggi'].describe())


rata2 = np.mean(df["tinggi"])
maks = np.max(df["tinggi"])
minim = np.min(df["tinggi"])
median = np.median(df["tinggi"])
print("Rata-rata tinggi :", rata2)
print("Tertinggi :",maks)
print("Terpendek :", minim)
print("Median :", median)

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     175.700000
std        7.645623
min      160.000000
25%      171.250000
50%      178.000000
75%      180.000000
max      185.000000
Name: tinggi, dtype: float64
Rata-rata tinggi : 175.7
Tertinggi : 185
Terpendek : 160
Median : 178.0

In [152]:
import pandas as pd
import numpy as np
df=pd.read_csv("datatni.csv")

rata_tinggi = df["tinggi"].mean()
di_atas_rata = df[df["tinggi"] > rata_tinggi]

print("====== Calon di atas rata-rata tinggi ======")
print(di_atas_rata[["name", "alamat", "tinggi"]])

====== Calon di atas rata-rata tinggi ======
    name                    alamat  tinggi
1   Budi        Jl. Sudirman No. 5     178
2   Cira        Jl. Thamrin No. 20     180
3   Devd  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
8  Indah         Jl. Senayan No. 9     178

In [168]:
import pandas as pd
import numpy as np
df = pd.read_csv("datatni.csv")

df_listwise = df.dropna()
df_sorted = df_listwise.sort_values(by="tinggi",ascending=False)
print("===== Urutan data dari Tertinggi ke Terendah =====")
print(df_sorted.to_string(index=False))

===== Urutan data dari Tertinggi ke Terendah =====
 name                   alamat  tinggi kategori
Fajar      Jl. Kuningan No. 12     185   Tinggi
  Eka    Jl. Rasuna Said No. 8     183   Tinggi
 Devd Jl. Gatot Subroto No. 15     180   Tinggi
 Cira       Jl. Thamrin No. 20     180   Tinggi
Indah        Jl. Senayan No. 9     178   Sedang
 Budi       Jl. Sudirman No. 5     178   Sedang
 Andi       Jl. Merdeka No. 18     175   Sedang
 Gina         Jl. Cikini No. 3     170   Sedang
 Hadi       Jl. Palmerah No. 7     168   Pendek
Jilan       Jl. Kuningan No. 2     160   Pendek

In [135]:
import pandas as pd
import numpy as np

df = pd.read_csv("datatni.csv")
rata2 = np.mean(df["tinggi"])
maks = np.max(df["tinggi"])

print("=============== Data dengan Kategori ===============")
df_listwise = df.dropna()
print(df_listwise)

print("\n=== Jumlah Calon per Kategori ===")
jumlah_per_kategori = df_listwise['kategori'].value_counts()
print(jumlah_per_kategori)

=============== Data dengan Kategori ===============
    name                    alamat  tinggi kategori
0   Andi        Jl. Merdeka No. 18     175   Sedang
1   Budi        Jl. Sudirman No. 5     178   Sedang
2   Cira        Jl. Thamrin No. 20     180   Tinggi
3   Devd  Jl. Gatot Subroto No. 15     180   Tinggi
4    Eka     Jl. Rasuna Said No. 8     183   Tinggi
5  Fajar       Jl. Kuningan No. 12     185   Tinggi
6   Gina          Jl. Cikini No. 3     170   Sedang
7   Hadi        Jl. Palmerah No. 7     168   Pendek
8  Indah         Jl. Senayan No. 9     178   Sedang
9  Jilan        Jl. Kuningan No. 2     160   Pendek

=== Jumlah Calon per Kategori ===
kategori
Sedang    4
Tinggi    4
Pendek    2
Name: count, dtype: int64

In [171]:
import pandas as pd
import numpy as np
df = pd.read_csv("datatni.csv")

# Kodingan Menghitung statistik lanjutan, .2f buat mastiin hasil dua angka dibelakang koma
std_dev = df["tinggi"].std()
variance = df["tinggi"].var()

print("\n=== Statistik Lanjutan ===")
print(f"Standar Deviasi : {std_dev:.2f}")
print(f"Variansi        : {variance:.2f}")

# Kodingan Cari calon dengan tinggi badan tertinggi
tertinggi = df.loc[df["tinggi"].idxmax()]
print("\n=== Calon dengan Tinggi Badan Tertinggi ===")
print(f"Nama    : {tertinggi['name']}")
print(f"Alamat  : {tertinggi['alamat']}")
print(f"Tinggi  : {tertinggi['tinggi']} cm")

=== Statistik Lanjutan ===
Standar Deviasi : 7.65
Variansi        : 58.46

=== Calon dengan Tinggi Badan Tertinggi ===
Nama    : Fajar
Alamat  : Jl. Kuningan No. 12
Tinggi  : 185 cm